/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Topbar */
.topbar {
  background: #2C2C2C; 
  color: white;
  padding: 5px 20px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

/* Header */
header {
  background: #0b5827dc; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  color: #F5F5F5; 
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #EAEAEA; 
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #cecece;
}

/* Container principal */
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 15px oklch(86.924% 0.29095 141.797);
}

/* Título */
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

/* Área de ações */
.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.actions button,
.actions input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.actions button {
  background-color: #0b5827dc;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #3858B8;
}

.actions input {
  width: 260px;
  border: 1px solid #ccc;
}

/* Tabela */
.table-wrap {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #0b5827dc;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


/* Responsividade básica */
@media (max-width: 600px) {
  .actions {
    flex-direction: column;
    gap: 8px;
  }

  table, th, td {
    font-size: 0.9rem;
  }
}
