/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Topbar */
.topbar {
  background: #B321FC; /* Rosa forte */
  color: white;
  padding: 5px 20px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

/* Header */
header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  color: #FC217C;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #B321FC;
}

/* Hero Slider */
.hero-slider {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0; left: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 10%;
  transition: left 0.8s ease-in-out;
}

.slide.active {
  left: 0;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, rgb(252, 57, 187) 40%, rgba(0, 0, 0, 0));
}

.hero-content {
  position: relative;
  color: white;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #FC217C;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #FC5321;
}

/* Setas */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 5;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Bolinhas */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.6);
  cursor: pointer;
}

.dots button.active {
  background: #FC217C;
}

/* Footer */
footer {
  background: #B321FC;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 8px; /* espaçamento */
  margin-bottom: 10px;
  font-size: 0.9rem;
}

footer p {
  font-size: 0.85rem;
  opacity: 0.9;
}

